.code {
    display: inline-block;
    padding: var(--size-xxxsmall);
    font-weight: var(--font-weight-bold);
    background-color: var(--black1);
    border-radius: var(--border-radius-small);
    margin-right: var(--font-letter-spacing-pos-xsmall);
}

.m-0 {
    margin: 0;
}