.code {
    display: inline-block;
    padding: var(--size-xxxsmall);
    font-weight: var(--font-weight-bold);
    background-color: var(--black1);
    border-radius: var(--border-radius-med);
    margin-right: var(--size-xxxsmall);
}